.room-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;

  .room-info {
    width: 300px;
    padding: 20px 20px 65px;
    margin: 26px 13px 0px;
    border-radius: 4px;
    background-color: var(--chat-content-bg);
    position: relative;
    display: flex;
    color: #fff;
    font-size: 14px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;

    img {
      width: 100%;
    }
  }

  .join-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
  }
}
