.chat-hall {
  .fixed-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: var(--btn-bg-color);
    width: 48px;
    height: 48px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 12px 28px rgb(0 0 0 / 20%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    transition: background-color ease 0.3s;

    &:hover {
      background-color: var(--btn-bg-hover-color);
    }
  }

  .sour_header_tabs {
    .ant-tabs-nav {
      margin-bottom: 0px;
    }
  }

  .room-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    padding-bottom: 60px;
    position: relative;

    .fixed {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #00000029;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 4px;

      .icon {
        font-size: 16px;
      }
    }

    .room-info {
      width: 300px;
      padding: 15px;
      margin: 13px 0px;
      border-radius: 4px;
      padding: 15px;
      margin: 0 13px 20px 0;
      background-color: var(--chat-content-bg);
      position: relative;
      display: flex;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
    }

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 4px;
      overflow: hidden;
      margin-right: 10px;

      img {
        width: 100%;
      }
    }

    .info {
      .title {
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        display: flex;
        margin-bottom: 8px;
      }
    }

    .join-btn {
      position: absolute;
      bottom: 20px;
      right: 20px;
      color: #fff;
    }
  }

  .active {
    display: flex;
  }

  .hidden {
    display: none;
  }
}

.room-model {
  overflow-y: auto !important;
  overflow-x: hidden !important;

  .item {
    display: flex;

    .ant-form-item-label {
      width: 50px !important;
      flex: unset !important;
    }
    .ant-form-item-control {
      flex: 1 !important;
      max-width: unset !important;
    }
  }

  .item-bottom {
    margin-bottom: 30px;
  }

  .room-name-item {
    .ant-input {
      width: 100px;
    }
  }

  .ant-input,
  .ant-input:hover,
  .ant-input:focus,
  .ant-input:active,
  .ant-select-selector {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }

  .ant-form-item {
    margin-bottom: 15px;
  }
}

.ins-item {
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: #ddd !important;
  }
}

@media screen and (max-width: 666px) {
  .chat-hall {
    .fixed-btn {
      bottom: 20px;
      right: 20px;
      width: 48px;
      height: 48px;
    }
  }
}

@media screen and (max-width: 500px) {
  .chat-hall {
    .room-list {
      .room-info {
        width: 100%;
        height: 100px;
        padding: 12px;
        margin: 0 0 15px 0;
      }

      .avatar {
        width: 50px;
        height: 50px;
      }

      .info {
        .title {
          font-size: 18px;
          font-weight: 500;
          line-height: 1;
        }
      }
    }
  }
}
