.soul_player_show {
  display: block !important;
}

.soul_player_show_flex {
  display: flex !important;
}

.soul_player_hidden {
  display: none !important;
}

.soul_player_draging {
  &.left {
    border-radius: var(--music-bar-radius);
  }

  &.right {
    border-radius: var(--music-bar-radius);
  }
}

.soul_player {
  position: fixed;
  height: 48px;
  z-index: 100;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 12px 28px rgb(0 0 0 / 20%);

  .player_operate {
    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
      height: 100%;
      font-size: 30px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .mr {
      margin: 0 6px;
    }

    .toggle {
      cursor: pointer;
      height: 100%;
      display: flex;

      .toggle-icon {
        font-size: 26px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #999;
        background-color: #f3f3f3;

        &:hover {
          color: #333;
        }
      }
    }

    .close {
      font-size: 18px;
      padding: 0 2px;
      color: #999;

      &:hover {
        color: #333;
      }
    }

    .title {
      font-size: 12px;
      display: flex;
      flex-direction: column;
      max-width: 100px;
      overflow: hidden;
      user-select: none;
      cursor: default;

      .song,
      .sing {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        word-break: keep-all;
        white-space: nowrap;
        display: inline-block;
      }
    }

    .cover {
      width: 38px;
      height: 100%;
      overflow: hidden;
      align-items: center;
      justify-content: center;

      img {
        width: 38px;
        height: 38px;
        border-radius: 100%;
        border: 1px solid #ebebeb;
        animation: circle 30s linear infinite;
      }

      .rotate-pause {
        animation-play-state: paused !important;
      }
    }
  }

  .handle {
    height: 100%;
    width: 40px;
    background-color: lightblue;
  }

  &.left {
    border-top-right-radius: var(--music-bar-radius);
    border-bottom-right-radius: var(--music-bar-radius);

    .player_operate {
      flex-direction: row-reverse;
    }
  }

  &.right {
    border-top-left-radius: var(--music-bar-radius);
    border-bottom-left-radius: var(--music-bar-radius);
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
