.wrapper-page {
  background-color: var(--content-bg);
  position: relative;
  overflow: auto;

  .content {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .loading {
      background-color: var(--content-bg);
    }

    .item {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
