.box {
  max-width: 300px;
  margin: 66px auto 30px;
  text-align: center;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(232, 233, 232);

  .content {
    height: calc(100% - var(--im-footer-height) - var(--im-header-height));
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  .header {
    height: var(--im-header-height);
    width: 100%;
    display: flex;
    font-size: 14px;
    align-items: center;
    padding-left: 0px;
    justify-content: center;
    box-shadow: 4px 3px 10px 0px #dadada;
    position: relative;
    background-color: rgb(232, 233, 232);

    .left {
      position: absolute;
      left: 0;
      height: 100%;
    }

    .right {
      position: absolute;
      right: 0;
      height: 100%;
      display: flex;

      .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0 12px;
        box-sizing: content-box;

        .img {
          width: 30px;
          height: 30px;
          border-radius: 30px;
          border: 1px solid #e5e5e5;
        }
      }
    }

    .operate {
      font-size: 20px;
      padding: 0px 11px;
      height: 100%;
      cursor: pointer;
      color: #666;
      transition: color ease 0.5s;
      display: flex;
      align-items: center;

      &:hover {
        color: #333;
      }

      &:active {
        color: #000;
      }
    }

    .setting {
      font-size: 18px;
      padding: 12px;
    }
  }
}

.im-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--im-footer-height);
  padding: 12px;
  background-color: rgb(244 244 244);

  .msg-input {
    position: absolute;
    bottom: 0px;
    box-shadow: none !important;
    padding-right: 70px;
  }

  .ant-input:focus,
  .ant-input-focused,
  .ant-input:hover {
    border: 1px solid #e2e2e2;
  }

  .msg {
    position: relative;

    .input {
      flex: 1;
    }

    .ant-form-item {
      margin-bottom: 0;
    }

    .send {
      position: absolute;
      right: 0;
      top: 0;

      .send-btn {
        height: 30px;
      }
    }
  }

  .funcs {
    display: flex;
    margin-top: 8px;

    .func {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      margin-right: 15px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color ease 0.2s;

      &:active {
        background-color: #e8e8e8;
      }

      .icon {
        font-size: 20px;
        color: #666;
        transition: color ease 0.2s;

        &:hover {
          color: #333;
        }
      }
    }
  }
}

.chats {
  .chat {
    display: flex;
    padding: 12px;

    .avatar {
      width: 36px;
      height: 36px;
      overflow: hidden;
      border-radius: 36px;

      .img {
        width: 100%;
        height: 100%;
      }
    }

    .chat-content {
      margin: -2px 14px 0;
      padding-right: 30px;
      flex: 1;
    }

    .name {
      line-height: 1.2;
      margin-bottom: 6px;
    }

    .html {
      user-select: text;
      padding: 8px;
      background-color: #fff;
      border-radius: 4px;
      font-size: 14px;
      position: relative;
      min-width: 46px;
      min-height: 36px;
      display: inline-block;
      cursor: default;

      &::after {
        content: '';
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 8px solid #fff;
        border-bottom: 5px solid transparent;
        position: absolute;
        left: -8px;
        top: 4px;
      }

      .hljs {
        padding: 12px;
        background-color: #ececec;
        border-radius: 4px;
        margin-top: 1em;
        word-break: break-all;
        white-space: break-spaces;
      }

      p {
        margin: 0;
      }

      a {
        color: #126dda;
      }
    }
  }

  .flex-right {
    flex-direction: row-reverse;
    justify-content: flex-end;

    .chat-content {
      text-align: right;
      padding-right: 0;
      padding-left: 30px;
      margin: 0px 14px;
    }

    .name {
      text-align: right;
    }

    .html {
      text-align: left;

      &::after {
        content: '';
        left: unset;
        top: 4px;
        right: -8px;
        border-right: unset;
        border-left: 8px solid #fff;
      }
    }
  }
}

@media screen and (max-width: 666px) {
  .app {
    .header {
      padding-left: 40px;
      justify-content: flex-start;
    }
  }
}
